<section class="users-section">
<h2>Friend Requests</h2>
  <ul class="users-list">
      <% @users.each do |user| %>
        <%=friend_requests(user)%>
      <%end%>
  </ul>
  <h2>Users List</h2>
  <ul class="users-list">
  
    <% @users.each do |user|%>
      <%=users_list(user)%>
      
   <%end%>
