<section class="user-section">
  <%=user_show_friendship_button(@user)%>
  <%= all_friends(@user) %>
  <%= mutual_friends(@user) %>

  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
